/* @@main index styles */


.main-con {
	padding-top: 3rem;
    min-height: 100%;
}

.main-con>.wrapper {
	display: grid;
	grid-row-gap: 2rem;
}


@media only screen and (min-width: 900px) {

	.main-con>.wrapper {
		grid-row-gap: 6rem;
	}
}


/* @@@work section */

.work-con>.wrapper {
	display: grid;
	row-gap: 2rem;
}


article.card {
	display: grid;
	justify-content: center;
	align-items: center;
}

article.card>.card-img, article.card>.card-wrapper {
	grid-area: 1/1/2/2;
}


.card-img {
	width: 100%;
	height: 100%;
}

.card-img>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.card-wrapper {
	width: 100%;
	height: 100%;
	padding: 2rem 1rem;

	display: flex;
	align-items: center;
	justify-content: center;

	-webkit-transition: background .14s;
	-moz-transition: background .14s;
	-o-transition: background .14s;
	transition: background .14s;
}
.card-wrapper:hover {
	background-color: rgba(0,0,0,0.7);
	color: var(--white) !important;
}


.card-body {
	display: grid;
	justify-content: start;
	grid-row-gap: 0.5rem;
}

.card-light {
	color: var(--white);
}

.card-dark {
	color: var(--gray9);
}

.card-body>.card-title {
	color: inherit;
	font-size: 2.5rem;
	font-weight: 900;
	text-decoration: none;
	line-height: 1;
}

.card-body>.card-title:hover {
	color: var(--gray5);
}

.card-light .card-body>.card-text, .card-dark .card-body>.card-text {
	font-size: 1rem;
	line-height: 1;
}


.card-light .card-body>.card-btn>a {
	border: 3px solid var(--white);
}
.card-dark .card-body>.card-btn>a {
	border: 3px solid var(--gray8);
}

.card-body>.card-btn>a:hover {
	border: 3px solid var(--white);
	background-color: var(--white);
	color: var(--gray9) !important;
}

.card-body>.card-btn {
	padding-top: 1rem;
}
.card-light .card-body>.card-btn>a, .card-dark .card-body>.card-btn>a {
	padding: 0.5rem 1rem;

	color: inherit;
	font-size: 1em;
	font-weight: 700;
	text-decoration: none;
}


@media only screen and (min-width: 740px) {

	.work-con>.wrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 1rem;
		grid-row-gap: 1rem;
	}
}


@media only screen and (min-width: 900px) {

	.work-con>.wrapper {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 400px;
	}

	article.card:nth-child(8n+1) {
		grid-column-start: 1;
		grid-column-end: span 2;
		grid-row-end: span 1;
	}
	article.card:nth-child(8n+1)>.card-img {
		max-height: 400px;
	}

	article.card:nth-child(8n+2) {
		grid-column-start: 3;
		grid-column-end: span 1;
		grid-row-end: span 2;
	}

	article.card:nth-child(8n+8) {
		grid-column-start: 1;
		grid-column-end: span 3;
		grid-row-end: span 1;
	}
	article.card:nth-child(8n+8)>.card-img {
		max-height: 400px;
	}
}


/* @@contact styles */

.contact-con {
	padding: 3rem 0;
	background-color: var(--gray7);
}

.contact-con>.wrapper {
	display: grid;
	grid-row-gap: 2rem;
	justify-content: center;
}


.contact-text>.wrapper {
	display: grid;
	grid-row-gap: 1rem;

	color: var(--white);
}

.contact-text h3 {
	padding-bottom: 1rem;

	border-bottom: 2px solid var(--gray3);

	font-size: 2em;
	font-weight: 900;
}

.contact-text a {
	color: inherit;
	font-size: 1.25em;
}
.contact-text a:hover {
	color: var(--gray6);
}


/* @@@ form section */

.form-con>form {
	padding: 2rem 1rem;

	display: grid;
	grid-row-gap: 1rem;

	border-radius: 0.25rem;

	color: var(--gray8);
	background-color: var(--gray1);
}

.form-con>form .hid {
	display: none;
}

.form-con>form button[type="submit"] {
	padding: 1rem;
	width: 100%;

	border: 1px solid transparent;
	background-color: var(--gray7);
	color: var(--white);
	font-size: 1.5em;
	font-weight: 700;
}
.form-con>form button[type="submit"]:hover {
	background-color: var(--gray5);
}


.form-con>form label {
	display: grid;
}

.form-con>form input, .form-con>form textarea {
	font-weight: 400;
}


@media only screen and (min-width: 900px) {

	.contact-text h3 {
		font-size: 3em;
	}

	.contact-con>.wrapper {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}

	.form-con {
		min-width: 400px;
		max-width: 400px;
		justify-self: end;
	}
}


/* @@work samples pages */

.work-sample.main-con {
	padding: 0;
	background-color: var(--white);
	color: var(--gray9);
}

.work-sample.main-con>.wrapper {
	grid-row-gap: 0;
}


.work-banner {
	width: 100%;
	height: 400px;
}

.work-banner>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.work-info {
	padding: 1.5rem 2rem 1rem;
	margin-bottom: 2rem;

	display: flex;
	flex-wrap: wrap;
	align-items: top;

	background-color: var(--gray4);
}

.work-info>.work-text {
	margin-right: 2rem;
	margin-bottom: 1rem;
	max-width: 300px;
}
.work-info>.work-text:last-child {
	margin-right: 0;
	margin-bottom: 0;
}

.work-info a {
	color: inherit;
}
.work-info a:hover {
	color: var(--gray5);
}


.work-text {
	display: grid;
	grid-row-gap: 1rem;
}

.work-text h2 {
	font-size: 3em;
	font-weight: 900;
}

.work-text h3 {
	margin-bottom: 0.5rem;

	color: var(--gray8);
	font-size: 1.25em;
}

.work_img {
	display: flex;
	align-items: center;
	justify-content: center;
}


.back-home>.wrapper {
	padding: 3rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.back-home a {
	padding: 1rem 2rem;

	border: 3px solid var(--gray8);

	color: var(--gray8);
	background-color: transparent;
	font-size: 1.5em;
	font-weight: 700;
	text-decoration: none;
}
.back-home a:hover {
	color: var(--white);
	background-color: var(--gray8);
}


@media only screen and (min-width: 900px) {

	.work-banner {
		height: 600px;
	}

	.work-info {
		margin-bottom: 3rem;
	}

	.work_img.two-up {
		display: grid;
		grid-template-columns: auto auto;
	}
}
