/* Reset CSS */

html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

ul[class], ol[class] {
    padding: 0;
    list-style: none;
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* user defined global variables */

a, button, input[type='button'], img {
    -webkit-transition: color .14s, background .14s, border .14s, opacity .14s;
    -moz-transition: color .14s, background .14s, border .14s, opacity .14s;
    -o-transition: color .14s, background .14s, border .14s, opacity .14s;
    transition: color .14s, background .14s, border .14s, opacity .14s;
}

a:hover, button:hover, input[type='button']:hover {
    cursor: pointer;
}

a:focus {
    outline: 1px dotted var(--gray2);
}

blockquote {
    margin-left: 0;
    padding-left: 1.5em;
    padding-right: 2em;
    border-left: 4px solid #ddd;
    font-style: italic;
    color: #777;
}

pre, code {
    background: #eee;
    border: 1px solid #ddd;
}

pre {
    font-size: 14px;
    line-height: 1.4em;
    padding: 1em;
    border-left: 4px solid #ddd;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
    /* 3 */
}
